---
import Layout from '~/layouts/Layout.astro';
import TypeForm from '~/components/TypeForm';
import { requireUserId } from '~/lib/session.server';
import { getType } from '~/models/types.server';

const userId = await requireUserId(Astro.cookies);
const { typeId } = Astro.params;

if (!typeId) {
  return Astro.redirect('/types');
}

const type = await getType({ id: typeId, userId });
---

<Layout title="Edit Type">
  <h1 class="pb-4 text-3xl">Edit type</h1>
  <TypeForm type={type} client:load />
</Layout>
