---
import Layout from '~/layouts/Layout.astro';
import TypeForm from '~/components/TypeForm';

---

<Layout title="New Type">
  <h1 class="pb-4 text-3xl">Add new type</h1>
  <TypeForm client:load />
</Layout>
