---
import Layout from "~/layouts/Layout.astro";
import GroupForm from "~/components/GroupForm";
---

<Layout title="New Group">
  <h1 class="pb-4 text-3xl">Add new group</h1>
  <GroupForm client:load />
</Layout>
